body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #282c34; /* Dark background */
    color: #61dafb; /* Light blue text */
}

h1 {
    text-align: center;
    color: #61dafb; /* Light blue text */
}

#login-container {
    text-align: center;
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-container .form-group {
    margin-bottom: 15px;
    width: 100%;
    text-align: left; /* Align text to the left */
}

#login-container label {
    display: block;
    margin-bottom: 5px;
    color: #61dafb;
}

#login-container input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #61dafb;
    border-radius: 5px;
    background-color: #444;
    color: #61dafb;
}

#login-container .remember-me-group {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the start */
    width: 100%;
}

#login-container .remember-me-group input {
    width: auto;
    margin-right: 10px;
}

#login-container .remember-me-group label {
}

#login-container button {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #282c34; /* Green background */
    color: #61dafb; /* White text */
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

#login-container button:hover {
    background-color: #282c35; /* Darker green background */
}

#language-selector {
    text-align: center;
    margin-bottom: 20px;
}

#language-selector button {
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff; /* White background */
    color: #333333; /* Dark gray text */
    border: none;
    border-radius: 5px;
}

#language-selector button:hover {
    background-color: #ddd; /* Light gray background */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #444; /* Medium gray background */
}

th, td {
    border: 1px solid #fff; /* White border */
    padding: 8px;
    color: #fff; /* White text */
}

th {
    background-color: #333; /* Darker gray background */
}

th, td {
    text-align: left;
}

.user-section {
    margin-bottom: 20px;
    background-color: #444; /* Medium gray background */
    padding: 10px;
    border-radius: 5px;
}
